---
import PostsItem from "@/components/posts-item.astro";
import RecordsItems from "@/components/records-items.astro";
import { getEvents, getPage, getTestimonies } from "@/lib/pocketbase";
import Layout from "@/pages/_/layout.astro";
import TheTestimonies from "./_/the-testimonies.astro";

// PARAMS **********************************************************************************************************************************
const { knowledge = "traditions-ancestrales" } = Astro.params;

// DATA ************************************************************************************************************************************
const [{ consultations, post, testimoniesImage, trainings, workshops }, allEvents, testimonies] = await Promise.all([
  getPage(knowledge, Astro.locals),
  getEvents(Astro.locals),
  getTestimonies(Astro.locals),
]);

// VARS ************************************************************************************************************************************
const isHome = knowledge === "traditions-ancestrales";
const events = isHome ? allEvents : allEvents.filter(({ slug }) => slug === knowledge);
const seo = { title: knowledge === "traditions-ancestrales" ? undefined : post.title };
const count = +(consultations.length > 0) + +(workshops.length > 0) + +(trainings.length > 0);
const eventIntent = count > 0 ? "primary" : "light";
---

<Layout {seo}>
  <PostsItem {post} border="top" />
  <RecordsItems title="Consultation" items={consultations} intent={count > 1 ? "primary" : "light"} />
  <RecordsItems title="Atelier" items={workshops} intent="light" />
  <RecordsItems title="Formation" items={trainings} intent={count === 3 ? "white" : "light"} />
  <RecordsItems title="Événement" items={events} border="bottom" intent={eventIntent} forceMultiple removeStale externalLink>
    <div>
      <p>Retrouvez bientôt ici l'ensemble de mes événements.</p>
      <strong>Vous pouvez déjà en obtenir le programme en me faisant une demande via le formulaire de contact.</strong>
    </div>
  </RecordsItems>
  {isHome && <TheTestimonies items={testimonies} image={testimoniesImage} />}
</Layout>
