---
import { Sprite } from 'astro-icon';
import type { z } from 'zod';
import type { zTheFooterP } from '~/schemas/ui';
import UiSection from './ui-section.astro';

// PROPS ===================================================================================================================================
const {city, email, fb, phone, street, zipcode} = Astro.props;

// STYLES ==================================================================================================================================
const {class: cEl = '', 'class:list': classes = []} = Astro.props;

// TYPES ===================================================================================================================================
export type Props = z.infer<typeof zTheFooterP>;
---

<UiSection border="top" intent="dark" class:list={['text-white items-center', cEl, classes]}>
  <div class="container flex flex-col justify-between sm:items-center gap-8 sm:flex-row">
    <div class="flex flex-col">
      <div class="flex items-center gap-4 p-3">
        <Sprite name="bi:pin-map" class="w-6 h-6 text-primary" />
        <span class="flex-auto">
          <div>{street}</div>
          <div>{zipcode} {city}</div>
        </span>
      </div>
      <a href={'mailto:' + email} class="group/email">
        <div class="flex items-center gap-4 p-3">
          <Sprite name="ph:at" class="w-6 h-6 text-primary group-hover/email:text-primary-400" />
          <span class="flex-auto">
            <div>{email}</div>
          </span>
        </div>
      </a>
      <a href={'tel:' + phone} class="group/phone">
        <div class="flex items-center gap-4 p-3">
          <Sprite name="bi:phone" class="w-6 h-6 text-primary group-hover/phone:text-primary-400" />
          <span class="flex-auto">
            <div>{phone}</div>
          </span>
        </div>
      </a>
    </div>
    <div class="flex flex-col gap-3 sm:items-end">
      <div class="flex items-center justify-center gap-4">
        <a href="/" class="unstyled text-primary hover:text-primary-200"><Sprite name="ph:facebook-logo-thin" class="w-12 h-12" /></a>
        <a href="/" class="unstyled text-primary hover:text-primary-300"><Sprite name="ph:instagram-logo-thin" class="w-12 h-12" /></a>
        <a href="/" class="unstyled text-primary hover:text-primary-300"><Sprite name="ph:youtube-logo-thin" class="w-12 h-12" /></a>
      </div>
      <hr class="border-dashed border-neutral-200 w-full" />
      <div class="flex flex-col items-end">
        <span>©2022 L'ENVOL - LA RÉUNION</span>
        <span class="text-sm">Tous droits réservés</span>
      </div>
      <a href="/articles/mentions-legales" class="self-end text-sm text-neutral-400 hover:text-white">mentions légales</a>
    </div>
  </div>
</UiSection>
