---
import type { z } from "zod";
import type { zUiItemP } from "~/schemas/ui";
import { TITLE } from "~/styles/ui";
import UiFeatures from "./ui-features.astro";
import UiImg from "./ui-img.astro";
import UiLinkBtn from "./ui-link-btn.astro";
import UiText from "./ui-text.astro";

// PROPS ===================================================================================================================================
const {item} = Astro.props;

// VARS ====================================================================================================================================
const {excerpt, features, href, image, slug, title} = item;

// STYLES ==================================================================================================================================
const {class: cEl = '', 'class:list': classes = ''} = Astro.props;

// TYPES ===================================================================================================================================
export type Props = z.infer<typeof zUiItemP>;
---

<li class:list={['bg-white flex flex-col', cEl, classes]} data-slug={slug}>
	<UiImg image={image} widths={[384]} ratio={3/2} sizes="24rem" fit="cover" class="flex-none relative" cImg="aspect-[3/2]" />
	<div class="flex-1 flex flex-col gap-4 p-4 px-6 sm:px-8">
		<h4 class:list={TITLE()}>{title}</h4>
		<UiFeatures features={features} intent="white" />
		<UiText text={excerpt} />
		<div class="flex-1" />
		<UiLinkBtn href={href} text="En savoir plus" class="self-end" />
	</div>
</li>